[user]
	name = Diego Fujii
	email = android.mxdiego9@gmail.com
[diff]
    algorithm = histogram
    colorMoved = dimmed-zebra
[core]
	pager = delta
[delta]
    line-numbers = true
[interactive]
    diffFilter = delta
